
body {
    font-family: nunito, sans-serif;
    color: #1c1c1c;
}

h1, h2, h3 {
    font-family: asap, sans-serif;
    color: #000000;
}

.botao {
    color: white;
    text-decoration: none;
    padding: 10px 30px ;
    background-color: #191970;
    font-size: 0.9em;
    border-radius: 7px;
}


/*navegação*/

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
    font-family: yellowtail, sans-serif;
}

nav a:hover {
        text-decoration:dashed;
        background-color: rgb(17, 94, 119);
        
}

nav .nilson {
    font-size: 39px;
    border-radius: 10px;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;

}

nav ul li {
    text-align: end;

}

nav ul li a {
    display: inline-block;
    padding: 0 15px 8px 0;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;

}

/*cabeçalho*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagens/camera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;

}

header a:hover {
    text-decoration:dashed ;
    background-color: rgb(53, 141, 196);
}

#sobre a:hover{
    text-decoration: dashed;
    background-color: rgb(90, 104, 90);
    color: white;
}

header h1 {
    color: #ffffff;

}

header p {
    margin-bottom:2em ;

}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px ;
    background-color: #191970;
    color: white;
}

#sobre h2 {
    color: #ffffff;

}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botao {
   background-color: #f1f1f1;
   color: #1c1c1c;

}

/*serviços*/

#serviços {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

#seviços div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

#fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}

#fotos h2 {
    margin-bottom: 20px;
}

#fotos img {
    width: 100%;

}

/*contato*/

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-weight: bold;


}

#contato h2 {
    color: #000000;
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: white;
    font-weight: bold;

}

footer a {
    text-decoration: none;
    color: #00FFFF;
}
footer a:hover {
    text-decoration: dashed;
    background-color: rgb(55, 0, 255);
    color: white;
}

@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }

    /*cabeçalho*/

    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    /*sobre*/

    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    #serviços {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;

    }

    #serviços h2 {
        text-align: center;
        width: 100%;

    }

    #serviços div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;

    }

    /*fotos*/

    #fotos {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #fotos h2 {
        width: 100%;
        text-align: center;

    }

    #fotos img {
        width:33.3333333%;
    }

    /*contato*/

    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #contato h2, #contato p [
        width: 100%;

    ]
}